<h1>ログイン</h1>
<%= form_tag sessions_path do %>
  <div class="field">
    <%= label_tag :mail, 'login name' %>
    <%= text_field_tag :mail, params[:mail] %>
  </div>
  <div class="field">
    <%= label_tag :pass, 'password' %>
    <%= password_field_tag :pass , params[:pass]%>
  </div>
  <div class="actions">
    <%= submit_tag "ログイン" %>
  </div>
<% end %>
