<p id="notice"><%= notice %></p>

<h1>Circle Ranks</h1>

<table>
  <thead>
    <tr>
      <th>Qestion1</th>
      <th>Qestion2</th>
      <th>Qestion3</th>
      <th>Qt1 rank1</th>
      <th>Qt1 rank2</th>
      <th>Qt1 rank3</th>
      <th>Qt2 rank1</th>
      <th>Qt2 rank2</th>
      <th>Qt2 rank3</th>
      <th>Qt3 rank1</th>
      <th>Qt3 rank2</th>
      <th>Qt3 rank3</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @circle_ranks.each do |circle_rank| %>
      <tr>
        <td><%= circle_rank.qestion1 %></td>
        <td><%= circle_rank.qestion2 %></td>
        <td><%= circle_rank.qestion3 %></td>
        <td><%= circle_rank.qt1_rank1 %></td>
        <td><%= circle_rank.qt1_rank2 %></td>
        <td><%= circle_rank.qt1_rank3 %></td>
        <td><%= circle_rank.qt2_rank1 %></td>
        <td><%= circle_rank.qt2_rank2 %></td>
        <td><%= circle_rank.qt2_rank3 %></td>
        <td><%= circle_rank.qt3_rank1 %></td>
        <td><%= circle_rank.qt3_rank2 %></td>
        <td><%= circle_rank.qt3_rank3 %></td>
        <td><%= link_to 'Show', circle_rank %></td>
        <td><%= link_to 'Edit', edit_circle_rank_path(circle_rank) %></td>
        <td><%= link_to 'Destroy', circle_rank, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Circle Rank', new_circle_rank_path %>
