<h3>ランキング</h3>
  <div class="col-md-5 adBox">
    <h4>サークル</h4>
    <% @circle_ranks.each do |circle_rank| %>
      <table class="table">
        <tr>
          <th scope="row">質問1</th>
          <td><%= circle_rank.qestion1 %><span class="button"><%= link_to '削除',circle_rank,method: :delete%></span>
          <span class="button"><%= link_to '編集',edit_circle_rank_path(circle_rank)%></td>
        </tr>
        <tr>
          <th scope="row">1位</th>
          <td><%= circle_rank.qt1_rank1 %></td>
        </tr>
        <tr>
          <th scope="row">2位</th>
          <td><%= circle_rank.qt1_rank2 %></td>
        </tr>
        <tr>
          <th scope="row">3位</th>
          <td><%= circle_rank.qt1_rank3 %></td>
        </tr>
      </table>
      <table class="table">
        <tr>
          <th scope="row">質問2</th>
          <td><%= circle_rank.qestion2 %></td>
        </tr>
        <tr>
          <th scope="row">1位</th>
          <td><%= circle_rank.qt2_rank1 %></td>
        </tr>
        <tr>
          <th scope="row">2位</th>
          <td><%= circle_rank.qt2_rank2 %></td>
        </tr>
        <tr>
          <th scope="row">3位</th>
          <td><%= circle_rank.qt2_rank3 %></td>
        </tr>
      </table>
      <table class="table">
        <tr>
          <th scope="row">質問3</th>
          <td><%= circle_rank.qestion3 %></td>
        </tr>
        <tr>
          <th scope="row">1位</th>
          <td><%= circle_rank.qt3_rank1 %></td>
        </tr>
        <tr>
          <th scope="row">2位</th>
          <td><%= circle_rank.qt3_rank2 %></td>
        </tr>
        <tr>
          <th scope="row">3位</th>
          <td><%= circle_rank.qt3_rank3 %></td>
        </tr>
      </table>
      <table class="table">
        <tr>
          <th scope="row">一言</th>
          <td><%= circle_rank.content %></td>
        </tr>
      </table>
    <% end %>
    <%= link_to 'New Job Rank', new_circle_rank_path %>
  </div>
