<p id="notice"><%= notice %></p>

<p>
  <strong>Qestion1:</strong>
  <%= @circle_rank.qestion1 %>
</p>

<p>
  <strong>Qestion2:</strong>
  <%= @circle_rank.qestion2 %>
</p>

<p>
  <strong>Qestion3:</strong>
  <%= @circle_rank.qestion3 %>
</p>

<p>
  <strong>Qt1 rank1:</strong>
  <%= @circle_rank.qt1_rank1 %>
</p>

<p>
  <strong>Qt1 rank2:</strong>
  <%= @circle_rank.qt1_rank2 %>
</p>

<p>
  <strong>Qt1 rank3:</strong>
  <%= @circle_rank.qt1_rank3 %>
</p>

<p>
  <strong>Qt2 rank1:</strong>
  <%= @circle_rank.qt2_rank1 %>
</p>

<p>
  <strong>Qt2 rank2:</strong>
  <%= @circle_rank.qt2_rank2 %>
</p>

<p>
  <strong>Qt2 rank3:</strong>
  <%= @circle_rank.qt2_rank3 %>
</p>

<p>
  <strong>Qt3 rank1:</strong>
  <%= @circle_rank.qt3_rank1 %>
</p>

<p>
  <strong>Qt3 rank2:</strong>
  <%= @circle_rank.qt3_rank2 %>
</p>

<p>
  <strong>Qt3 rank3:</strong>
  <%= @circle_rank.qt3_rank3 %>
</p>

<%= link_to 'Edit', edit_circle_rank_path(@circle_rank) %> |
<%= link_to 'Back', circle_ranks_path %>
