<p id="notice"><%= notice %></p>

<h1>Fashion Ranks</h1>

<table>
  <thead>
    <tr>
      <th>Qestion1</th>
      <th>Qestion2</th>
      <th>Men rank1</th>
      <th>Men rank2</th>
      <th>Men rank3</th>
      <th>Women rank1</th>
      <th>Women rank2</th>
      <th>Women rank3</th>
      <th>Qt2 rank1</th>
      <th>Qt2 rank2</th>
      <th>Qt2 rank3</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fashion_ranks.each do |fashion_rank| %>
      <tr>
        <td><%= fashion_rank.qestion1 %></td>
        <td><%= fashion_rank.qestion2 %></td>
        <td><%= fashion_rank.men_rank1 %></td>
        <td><%= fashion_rank.men_rank2 %></td>
        <td><%= fashion_rank.men_rank3 %></td>
        <td><%= fashion_rank.women_rank1 %></td>
        <td><%= fashion_rank.women_rank2 %></td>
        <td><%= fashion_rank.women_rank3 %></td>
        <td><%= fashion_rank.qt2_rank1 %></td>
        <td><%= fashion_rank.qt2_rank2 %></td>
        <td><%= fashion_rank.qt2_rank3 %></td>
        <td><%= fashion_rank.content %></td>
        <td><%= link_to 'Show', fashion_rank %></td>
        <td><%= link_to 'Edit', edit_fashion_rank_path(fashion_rank) %></td>
        <td><%= link_to 'Destroy', fashion_rank, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fashion Rank', new_fashion_rank_path %>
