<h3>ランキング</h3>
  <div class="col-md-5 adBox">
    <h4>ファッション</h4>
    <% @fashion_ranks.each do |fashion_rank| %>
      <table class="table">
        <tr>
          <th scope="row">質問1</th>
          <td><%= fashion_rank.qestion1 %>
          <span class="button"><%= link_to '編集',edit_fashion_rank_path(fashion_rank)%></td>
        </tr>
        <tr>
          <th scope="row">男性</th>
          <td></td>
        </tr>
        <tr>
          <th scope="row">1位</th>
          <td><%= fashion_rank.men_rank1 %></td>
        </tr>
        <tr>
          <th scope="row">2位</th>
          <td><%= fashion_rank.men_rank2 %></td>
        </tr>
        <tr>
          <th scope="row">3位</th>
          <td><%= fashion_rank.men_rank3 %></td>
        </tr>
        <tr>
          <th scope="row">女性</th>
          <td></td>
        </tr>
        <tr>
          <th scope="row">1位</th>
          <td><%= fashion_rank.women_rank1 %></td>
        </tr>
        <tr>
          <th scope="row">2位</th>
          <td><%= fashion_rank.women_rank2 %></td>
        </tr>
        <tr>
          <th scope="row">3位</th>
          <td><%= fashion_rank.women_rank3 %></td>
        </tr>
      </table>
      <table class="table">
        <tr>
          <th scope="row">質問2</th>
          <td><%= fashion_rank.qestion2 %></td>
        </tr>
        <tr>
          <th scope="row">1位</th>
          <td><%= fashion_rank.qt2_rank1 %></td>
        </tr>
        <tr>
          <th scope="row">2位</th>
          <td><%= fashion_rank.qt2_rank2 %></td>
        </tr>
        <tr>
          <th scope="row">3位</th>
          <td><%= fashion_rank.qt2_rank3 %></td>
        </tr>
      </table>
      <table class="table">
        <tr>
          <th scope="row">一言</th>
          <td><%= fashion_rank.content %></td>
        </tr>
      </table>
    <% end %>
  </div>
