<p id="notice"><%= notice %></p>

<p>
  <strong>Image1:</strong>
  <%= @campus_life.image1 %>
</p>

<p>
  <strong>Image2:</strong>
  <%= @campus_life.image2 %>
</p>

<%= link_to 'Edit', edit_campus_life_path(@campus_life) %> |
<%= link_to 'Back', campus_lives_path %>
