<div class="maptitle">
  <div class="mapbox">
    <div class="mapTitle"><%= link_to '今出川キャンパスMAP',maps_imadegawa_path,:style=>"text-decoration:none" %></div>
    <div class="mapTitle"><%= link_to '京田辺キャンパスMAP',maps_kyotanabe_path,:style=>"text-decoration:none" %></div>
    <div class="mapTitle"><%= link_to '新町キャンパスMAP',maps_shinmachi_path,:style=>"text-decoration:none" %></div>
    <div class="mapTitle"><%= link_to '烏丸キャンパスMAP',maps_karasuma_path,:style=>"text-decoration:none"; %></div>
    <div class="mapTitle"><%= link_to '寒梅館',maps_kanbaikan_path,:style=>"text-decoration:none" %></div>
  </div>
</div>
