<h3>第二言語</h3>
<div id="secondLanguage" class="col-md-5">
  <h4>第二言語とは・・・</h4>
  <% @languages.each do |obj| %>
      <span class="fontsize"><%= obj.context %></span>
      <span class="button"><%= link_to '削除',language_path(obj.id),method: :delete%></span>
      <span class="button"><%= link_to '編集',edit_language_path(obj.id)%></span>
      <div><%= image_tag obj.image,class:"resize"%></div>
  <%end%>

  <div><%= link_to '新規作成',new_language_url%></div>
</div>
<div id="Language" class="col-md-6">
  <h4>第二言語ランキング</h4>
  <% @words.each do |obj| %>
    <table class="table">
      <tr>
        <th scope="row">言語</th>
        <td><%= obj.name %><span class="button"><%= link_to '削除',word_path(obj.id),method: :delete%></span>
        <span class="button"><%= link_to '編集',edit_word_path(obj.id)%></td>
      </tr>
      <tr>
        <th scope="row">すごく簡単</th>
        <td><%= obj.veryEasy %>%</td>
      </tr>
      <tr>
        <th scope="row">簡単</th>
        <td><%= obj.easy %>%</td>
      </tr>
      <tr>
        <th scope="row">普通</th>
        <td><%= obj.normal %>%</td>
      </tr>
      <tr>
        <th scope="row">難しい</th>
        <td><%= obj.hard %>%</td>
      </tr>
      <tr>
        <th scope="row">すごく難しい</th>
        <td><%=obj.veryHard %>%</td>
      </tr>
      <tr>
        <th scope="row">おすすめポイント</th>
        <td><%= obj.context %></td>
      </tr>
    </table>
  <%end%>
  <%= link_to '新規作成',new_word_path%>
</div>
