<div class="col-md-12">
  <h3>編集</h3>
</div>
<div>
  <%=form_for @lofe do |f| %>
  <div class="col-md-6 adBox">
    <table class="table">
      <tr>
        <th scope="row">画像</th>
        <td><%= f.file_field :image1 %></td>
      </tr>
      <tr>
        <th scope="row">画像</th>
        <td><%= f.file_field :image2 %></td>
      </tr>
      <tr>
        <th scope="row">画像</th>
        <td><%= f.file_field :image3 %></td>
      </tr>
      <tr>
        <th scope="row">画像</th>
        <td><%= f.file_field :image4 %></td>
      </tr>
    </table>
    <%= f.submit "送信" ,class: "btn" %>
  </div>
  <% end %>
</div>
