<h3>恋愛事情</h3>
<div class="col-md-5 adBox">
  <h4>デートスポット</h4>
  <% @date_places.each do |obj| %>
    <table class="table">
      <tr>
        <th scope="row">場所</th>
        <td><%= obj.name %><span class="button"><%= link_to '削除',date_place_path(obj.id),method: :delete%></span>
        <span class="button"><%= link_to '編集',edit_date_place_path(obj.id)%></td>
      </tr>
      <tr>
        <th scope="row">URL</th>
        <td><%= obj.url %></td>
      </tr>
      <tr>
        <th scope="row">説明</th>
        <td><%= obj.context %></td>
      </tr>
      <tr>
        <th scope="row">画像</th>
        <td><%= image_tag obj.place_image,class:"resize"%></td>
      </tr>
    </table>
  <%end%>
  <%= link_to '新規作成',new_date_place_path%>
</div>
<div class="col-md-6 adBox">
  <h4>素材画像</h4>
  <% @loves.each do |obj| %>
    <table class="table">
      <tr>
        <th scope="row">画像</th>
        <td><%= image_tag obj.image1,class:"resize"%><span class="button"><%= link_to '削除',lofe_path(obj.id),method: :delete%></span>
        <span class="button"><%= link_to '編集',edit_lofe_path(obj.id)%></td>
      </tr>
      <tr>
        <th scope="row">画像</th>
        <td><%= image_tag obj.image2,class:"resize"%></td>
      </tr>
      <tr>
        <th scope="row">画像</th>
        <td><%= image_tag obj.image3,class:"resize"%></td>
      </tr>
      <tr>
        <th scope="row">画像</th>
        <td><%= image_tag obj.image4,class:"resize"%></td>
      </tr>
    </table>
  <%end%>
  <%= link_to '新規作成',new_lofe_path%>
</div>
