<p id="notice"><%= notice %></p>

<p>
  <strong>Image1:</strong>
  <%= @lofe.image1 %>
</p>

<p>
  <strong>Image2:</strong>
  <%= @lofe.image2 %>
</p>

<p>
  <strong>Image3:</strong>
  <%= @lofe.image3 %>
</p>

<p>
  <strong>Image4:</strong>
  <%= @lofe.image4 %>
</p>

<%= link_to 'Edit', edit_lofe_path(@lofe) %> |
<%= link_to 'Back', loves_path %>
