<div class="col-md-10">
  <h3>用語説明</h3>
</div>
  <%=form_for @introduceUniversityWords do |f| %>
    <div class="col-md-6 adBox">
      <table class="table">
        <tr>
          <th scope="row">用語</th>
          <td><%= f.text_field :title ,class:"form-control"%></td>
        </tr>
        <tr>
          <th scope="row">意味</th>
          <td><%= f.text_field :meaning ,class:"form-control"%></td>
        </tr>
        <tr>
          <th scope="row">例文</th>
          <td><%= f.text_area :example ,class:"form-control"%></td>
        </tr>
      </table>
      <%= f.submit "送信" ,class: "btn" %>
    </div>
  <% end %>
