<div class="topImage">
  <div class="box">
    <div class="toptitle"><%= link_to '団体図鑑',university_words_path,:style=>"text-decoration:none" %></div>
    <div class="toptitle"><%= link_to 'SCH ~school&schedule~',university_words_path,:style=>"text-decoration:none" %></div>
    <div class="toptitle"><%= link_to 'ComeCale ~welcome calendar~',university_words_path,:style=>"text-decoration:none" %></div>
    <div class="toptitle"><%= link_to 'テルアス',advices_index_path,:style=>"text-decoration:none"; %></div>
    <div class="toptitle"><%= link_to 'Unisna',university_words_path,:style=>"text-decoration:none" %></div>
    <div class="toptitle"><%= link_to 'DOSHISHA × RANKING',university_words_path,:style=>"text-decoration:none" %></div>
    <div class="toptitle"><%= link_to '同志社MAP',university_words_path,:style=>"text-decoration:none" %></div>
    <div class="toptitle"><%= link_to 'オリ企画',university_words_path,:style=>"text-decoration:none" %></div>
  </div>
</div>
