<div class="adviceHeader">
  <%=image_tag('circle.jpg')%>
  <h2>サークル・クラブ</h2>
</div>
<div class="doshishaRanks">
  <div class="doshishaRanksBox">
      <br/>
      <%@circle_ranks.each do |obj| %>
        <h4>質問　<%=obj.qestion1%></h4>
        <h4>回答</h4>
        <p>はい　<%=obj.qt1_rank1%></p>
        <p>いいえ　<%=obj.qt1_rank2%></p>
        <br/>
        <h4>質問　<%=obj.qestion2%></h4>
        <h4>回答</h4>
        <p>1位　<%=obj.qt2_rank1%></p>
        <p>2位　<%=obj.qt2_rank2%></p>
        <p>3位　<%=obj.qt2_rank3%></p>
        <br/>
        <h4>質問　<%=obj.qestion3%></h4>
        <h4>回答</h4>
        <p>1位　<%=obj.qt3_rank1%></p>
        <p>2位　<%=obj.qt3_rank2%></p>
        <p>3位　<%=obj.qt3_rank3%></p>
        <br/>
        <h4>一言！</h4>
        <p><%=simple_format(obj.content)%></p>
      <% end %>
  </div>
</div>
<div class="adviceHeader">
  <%=image_tag('job.jpg')%>
  <h2>バイト</h2>
</div>
<div class="doshishaRanks">
  <div class="doshishaRanksBox">
      <br/>
      <%@job_ranks.each do |obj| %>
        <h4>質問　<%=obj.qestion1%></h4>
        <h4>回答</h4>
        <p>1位　<%=obj.qt1_rank1%></p>
        <p>2位　<%=obj.qt1_rank2%></p>
        <p>3位　<%=obj.qt1_rank3%></p>
        <br/>
        <h4>質問　<%=obj.qestion2%></h4>
        <h4>回答</h4>
        <p>1位　<%=obj.qt2_rank1%></p>
        <p>2位　<%=obj.qt2_rank2%></p>
        <p>3位　<%=obj.qt2_rank3%></p>
        <br/>
        <h4>一言！</h4>
        <p><%=simple_format(obj.content)%></p>
      <% end %>
  </div>
</div>
<div class="adviceHeader">
  <%=image_tag('shool.jpg')%>
  <h2>学校</h2>
</div>
<div class="doshishaRanks">
  <div class="doshishaRanksBox">
      <br/>
      <%@school_ranks.each do |obj| %>
        <h4>質問　<%=obj.qestion1%></h4>
        <h4>回答</h4>
        <p>1位　<%=obj.qt1_rank1%></p>
        <p>2位　<%=obj.qt1_rank2%></p>
        <p>3位　<%=obj.qt1_rank3%></p>
        <br/>
        <h4>質問　<%=obj.qestion2%></h4>
        <h4>回答</h4>
        <p>1位　<%=obj.qt2_rank1%></p>
        <p>2位　<%=obj.qt2_rank2%></p>
        <p>3位　<%=obj.qt2_rank3%></p>
        <br/>
        <h4>一言！</h4>
        <p><%=simple_format(obj.content)%></p>
      <% end %>
  </div>
</div>
<div class="adviceHeader">
  <%=image_tag('fashion.jpg')%>
  <h2>ファッション</h2>
</div>
<div class="doshishaRanks">
  <div class="doshishaRanksBox">
      <br/>
      <%@fashion_ranks.each do |obj| %>
        <h4>質問　<%=obj.qestion1%></h4>
        <h4>男子の回答</h4>
        <p>1位　<%=obj.men_rank1%></p>
        <p>2位　<%=obj.men_rank2%></p>
        <p>3位　<%=obj.men_rank3%></p>
        <h4>女子の回答</h4>
        <p>1位　<%=obj.women_rank1%></p>
        <p>2位　<%=obj.women_rank2%></p>
        <p>3位　<%=obj.women_rank3%></p>
        <br/>
        <h4>質問　<%=obj.qestion2%></h4>
        <h4>女子の回答</h4>
        <p>1位　<%=obj.qt2_rank1%></p>
        <p>2位　<%=obj.qt2_rank2%></p>
        <p>3位　<%=obj.qt2_rank3%></p>
        <br/>
        <h4>一言！</h4>
        <p><%=simple_format(obj.content)%></p>
      <% end %>
  </div>
</div>
<div class="adviceHeader">
  <%=image_tag('trip.jpg')%>
  <h2>旅行</h2>
</div>
<div class="doshishaRanks">
  <div class="doshishaRanksBox">
      <br/>
      <%@trip_ranks.each do |obj| %>
        <h4>質問　<%=obj.qestion1%></h4>
        <h4>回答</h4>
        <p>1位　<%=obj.qt1_rank1%></p>
        <p>2位　<%=obj.qt1_rank2%></p>
        <p>3位　<%=obj.qt1_rank3%></p>
        <br/>
        <h4>一言！</h4>
        <p><%=simple_format(obj.content)%></p>
      <% end %>
  </div>
</div>
