<div class="col-md-12">
  <h3>ランキング</h3>
</div>
<div>
  <%=form_for @campus_rank do |f| %>
  <div class="col-md-6 adBox">
    <table class="table">
      <tr>
        <th scope="row">1位</th>
        <td><%= f.text_field :rank1 ,class:"form-control"%></td>
      </tr>
      <tr>
        <th scope="row">2位</th>
        <td><%= f.text_field :rank2 ,class:"form-control"%></td>
      </tr>
      <tr>
        <th scope="row">3位</th>
        <td><%= f.text_field :rank3 ,class:"form-control"%></td>
      </tr>
    </table>
    <%= f.submit "送信" ,class: "btn button" %>
  </div>
  <% end %>
</div>
