<h3>新歓期の過ごし方</h3>
<div class="col-md-5 adBox">
  <h4>ランキング</h4>
  <% @campus_ranks.each do |obj| %>
    <table class="table">
      <tr>
        <th scope="row">1位</th>
        <td><%= obj.rank1 %><span class="button"><%= link_to '削除',campus_rank_path(obj.id),method: :delete%></span>
        <span class="button"><%= link_to '編集',edit_campus_rank_path(obj.id)%></td>
      </tr>
      <tr>
        <th scope="row">2位</th>
        <td><%= obj.rank2 %></td>
      </tr>
      <tr>
        <th scope="row">3位</th>
        <td><%= obj.rank3 %></td>
      </tr>
    </table>
  <%end%>
  <%= link_to '新規作成',new_campus_rank_path%>
</div>
<div class="col-md-6 adBox">
  <h4>素材画像</h4>
  <% @campus_lives.each do |obj| %>
    <table class="table">
      <tr>
        <th scope="row">画像1</th>
        <td><%= image_tag obj.campus_image1,class:"resize"%><span class="button"><%= link_to '削除',campus_life_path(obj.id),method: :delete%></span>
        <span class="button"><%= link_to '編集',edit_campus_life_path(obj.id)%></td>
      </tr>
      <tr>
        <th scope="row">画像2</th>
        <td><%= image_tag obj.campus_image2,class:"resize"%></td>
      </tr>
    </table>
  <%end%>
  <%= link_to '新規作成',new_campus_life_path%>
</div>
