<h3>ランキング</h3>
  <div class="col-md-5 adBox">
    <h4>バイト</h4>
    <% @job_ranks.each do |job_rank| %>
      <table class="table">
        <tr>
          <th scope="row">質問1</th>
          <td><%= job_rank.qestion1 %>
          <span class="button"><%= link_to '編集',edit_job_rank_path(job_rank)%></td>
        </tr>
        <tr>
          <th scope="row">1位</th>
          <td><%= job_rank.qt1_rank1 %></td>
        </tr>
        <tr>
          <th scope="row">2位</th>
          <td><%= job_rank.qt1_rank2 %></td>
        </tr>
        <tr>
          <th scope="row">3位</th>
          <td><%= job_rank.qt1_rank3 %></td>
        </tr>
      </table>
      <table class="table">
        <tr>
          <th scope="row">質問2</th>
          <td><%= job_rank.qestion2 %></td>
        </tr>
        <tr>
          <th scope="row">1位</th>
          <td><%= job_rank.qt2_rank1 %></td>
        </tr>
        <tr>
          <th scope="row">2位</th>
          <td><%= job_rank.qt2_rank2 %></td>
        </tr>
        <tr>
          <th scope="row">3位</th>
          <td><%= job_rank.qt2_rank3 %></td>
        </tr>
      </table>
      <table class="table">
        <tr>
          <th scope="row">一言</th>
          <td><%= job_rank.content %></td>
        </tr>
      </table>
    <% end %>
  </div>
