<div class="col-md-12">
  <h3>就職・資格</h3>
</div>
<div>
  <%=form_for @capacity do |f| %>
    <div class="col-md-6 adBox">
      <table class="table">
        <tr>
          <th scope="row">画像</th>
          <td><%= f.file_field :capa_image1 %></td>
        </tr>
        <tr>
          <th scope="row">画像</th>
          <td><%= f.file_field :capa_image2 %></td>
        </tr>
        <tr>
          <th scope="row">画像</th>
          <td><%= f.file_field :capa_image3 %></td>
        </tr>
        <tr>
          <th scope="row">画像</th>
          <td><%= f.file_field :capa_image4 %></td>
        </tr>
        <tr>
          <th scope="row">画像</th>
          <td><%= f.file_field :capa_image5 %></td>
        </tr>
        <tr>
          <th scope="row">画像</th>
          <td><%= f.file_field :capa_image6 %></td>
        </tr>
      </table>
      <%= f.submit "送信" ,class: "btn" %>
    </div>

  <% end %>
</div>
