<h3>資格・就活</h3>
<div class="col-md-7 adBox">
  <h4>素材画像</h4>
  <% @capacities.each do |obj| %>
    <table class="table">
      <tr>
        <th scope="row">上段左</th>
        <td><%= image_tag obj.capa_image1,class:"resize" %>
        <span class="button"><%= link_to '編集',edit_capacity_path(obj.id)%></td>
      </tr>
      <tr>
        <th scope="row">上段右</th>
        <td><%= image_tag obj.capa_image2,class:"resize"%></td>
      </tr>
      <tr>
        <th scope="row">中段左</th>
        <td><%= image_tag obj.capa_image3,class:"resize" %></td>
      </tr>
      <tr>
        <th scope="row">中段右</th>
        <td><%= image_tag obj.capa_image4,class:"resize" %></td>
      </tr>
      <tr>
        <th scope="row">下段左</th>
        <td><%= image_tag obj.capa_image5,class:"resize" %></td>
      </tr>
      <tr>
        <th scope="row">下段右</th>
        <td><%= image_tag obj.capa_image6,class:"resize" %></td>
      </tr>
    </table>
  <%end%>
</div>
