<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @capacity.image %>
</p>

<p>
  <strong>Context:</strong>
  <%= @capacity.context %>
</p>

<%= link_to 'Edit', edit_capacity_path(@capacity) %> |
<%= link_to 'Back', capacities_path %>
