<div class="advice">
  <div class="advicebox">
    <div class="toptitle"><%= link_to '資格就活',advices_capacities_path,:style=>"text-decoration:none" %></div>
    <div class="toptitle"><%= link_to '第二言語',advices_languages_path,:style=>"text-decoration:none" %></div>
    <div class="toptitle"><%= link_to '大学生の用語',advices_words_path,:style=>"text-decoration:none" %></div>
    <div class="toptitle"><%= link_to 'テスト',advices_exams_path,:style=>"text-decoration:none"; %></div>
    <div class="toptitle"><%= link_to '新歓期の過ごし方',advices_welcome_path,:style=>"text-decoration:none" %></div>
    <div class="toptitle"><%= link_to '恋愛',advices_loves_path,:style=>"text-decoration:none" %></div>
    <div class="toptitle"><%=link_to 'プライベート',advices_life_path%></div>
    <div class="toptitle"><%=link_to '友達の作り方',advices_friend_path%></div>
  </div>
</div>
