<%= form_with(model: women_snap, local: true) do |form| %>
  <% if women_snap.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(women_snap.errors.count, "error") %> prohibited this women_snap from being saved:</h2>

      <ul>
      <% women_snap.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :women_image %>
    <%= form.text_field :women_image, id: :women_snap_women_image %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :women_snap_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
