<div class="col-md-12">
  <h3>Women</h3>
</div>
<div>
  <%=form_for @women_snap do |f| %>
  <div class="col-md-6 adBox">
    <table class="table">
      <tr>
        <th scope="row">画像1</th>
        <td><%= f.file_field :women_image %></td>
      </tr>
      <tr>
        <th scope="row">画像2</th>
        <td><%= f.file_field :women_image2 %></td>
      </tr>
      <tr>
        <th scope="row">画像3</th>
        <td><%= f.file_field :women_image3 %></td>
      </tr>
      <tr>
        <th scope="row">名前</th>
        <td><%= f.text_field :name ,class: "form-control"%></td>
      </tr>
      <tr>
        <th scope="row">学部</th>
        <td><%= f.text_field :gakubu ,class: "form-control"%></td>
      </tr>
      <tr>
        <th scope="row">回生</th>
        <td><%= f.number_field :grade ,class: "form-control"%></td>
      </tr>
      <tr>
        <th scope="row">サークル</th>
        <td><%= f.text_field :circle ,class: "form-control"%></td>
      </tr>
      <tr>
        <th scope="row">ポイント</th>
        <td><%= f.text_area :content ,class: "form-control"%></td>
      </tr>
    </table>
    <%= f.submit "送信" ,class: "btn button" %>
  </div>
  <% end %>
</div>
