<h3>スナップ</h3>
<div class="col-md-7 adBox">
  <h4>Women</h4>
  <% @women_snaps.each do |women_snap| %>
    <table class="table">
      <tr>
        <th scope="row">画像1</th>
        <td><%= image_tag women_snap.women_image,class:"resize"%><span class="button"><%= link_to '削除',women_snap,method: :delete%></span>
        <span class="button"><%= link_to '編集',edit_women_snap_path(women_snap)%></td>
      </tr>
      <tr>
        <th scope="row">画像2</th>
        <td><%= image_tag women_snap.women_image2,class:"resize"%></td>
      </tr>
      <tr>
        <th scope="row">画像3</th>
        <td><%= image_tag women_snap.women_image3,class:"resize"%></td>
      </tr>
      <tr>
        <th scope="row">名前</th>
        <td><%= women_snap.name %></td>
      </tr>
      <tr>
        <th scope="row">学部</th>
        <td><%= women_snap.gakubu%>学部</td>
      </tr>
      <tr>
        <th scope="row">回生</th>
        <td><%= women_snap.grade %>回生</td>
      </tr>
      <tr>
        <th scope="row">サークル</th>
        <td><%= women_snap.circle %></td>
      </tr>
      <tr>
        <th scope="row">ポイント</th>
        <td><%= women_snap.content %></td>
      </tr>
    </table>
  <%end%>
  <%= link_to '新規作成',new_women_snap_path%>
</div>
