<p id="notice"><%= notice %></p>

<p>
  <strong>Women image:</strong>
  <%= @women_snap.women_image %>
</p>

<p>
  <strong>Name:</strong>
  <%= @women_snap.name %>
</p>

<%= link_to 'Edit', edit_women_snap_path(@women_snap) %> |
<%= link_to 'Back', women_snaps_path %>
