<h3>ランキング</h3>
  <div class="col-md-5 adBox">
    <h4>旅行</h4>
    <% @trip_ranks.each do |trip_rank| %>
      <table class="table">
        <tr>
          <th scope="row">質問1</th>
          <td><%= trip_rank.qestion1 %>
          <span class="button"><%= link_to '編集',edit_trip_rank_path(trip_rank)%></td>
        </tr>
        <tr>
          <th scope="row">1位</th>
          <td><%= trip_rank.qt1_rank1 %></td>
        </tr>
        <tr>
          <th scope="row">2位</th>
          <td><%= trip_rank.qt1_rank2 %></td>
        </tr>
        <tr>
          <th scope="row">3位</th>
          <td><%= trip_rank.qt1_rank3 %></td>
        </tr>
      </table>
      <table class="table">
        <tr>
          <th scope="row">一言</th>
          <td><%= trip_rank.content %></td>
        </tr>
      </table>
    <% end %>

  </div>
