<p id="notice"><%= notice %></p>

<h1>Trip Ranks</h1>

<table>
  <thead>
    <tr>
      <th>Qestion1</th>
      <th>Qt1 rank1</th>
      <th>Qt1 rank2</th>
      <th>Qt1 rank3</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trip_ranks.each do |trip_rank| %>
      <tr>
        <td><%= trip_rank.qestion1 %></td>
        <td><%= trip_rank.qt1_rank1 %></td>
        <td><%= trip_rank.qt1_rank2 %></td>
        <td><%= trip_rank.qt1_rank3 %></td>
        <td><%= trip_rank.content %></td>
        <td><%= link_to 'Show', trip_rank %></td>
        <td><%= link_to 'Edit', edit_trip_rank_path(trip_rank) %></td>
        <td><%= link_to 'Destroy', trip_rank, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trip Rank', new_trip_rank_path %>
