<p id="notice"><%= notice %></p>

<p>
  <strong>Men image:</strong>
  <%= @men_snap.men_image %>
</p>

<p>
  <strong>Name:</strong>
  <%= @men_snap.name %>
</p>

<%= link_to 'Edit', edit_men_snap_path(@men_snap) %> |
<%= link_to 'Back', men_snaps_path %>
