<p id="notice"><%= notice %></p>

<p>
  <strong>Rank1:</strong>
  <%= @life_ranking.rank1 %>
</p>

<p>
  <strong>Rank2:</strong>
  <%= @life_ranking.rank2 %>
</p>

<p>
  <strong>Rank3:</strong>
  <%= @life_ranking.rank3 %>
</p>

<p>
  <strong>Abordrank1:</strong>
  <%= @life_ranking.abordrank1 %>
</p>

<p>
  <strong>Abordrank2:</strong>
  <%= @life_ranking.abordrank2 %>
</p>

<p>
  <strong>Abordrank3:</strong>
  <%= @life_ranking.abordrank3 %>
</p>

<%= link_to 'Edit', edit_life_ranking_path(@life_ranking) %> |
<%= link_to 'Back', life_rankings_path %>
