<p id="notice"><%= notice %></p>

<p>
  <strong>Ori photo1:</strong>
  <%= @ori_page.ori_photo1 %>
</p>

<p>
  <strong>Ori photo2:</strong>
  <%= @ori_page.ori_photo2 %>
</p>

<%= link_to 'Edit', edit_ori_page_path(@ori_page) %> |
<%= link_to 'Back', ori_pages_path %>
