<p id="notice"><%= notice %></p>

<h1>Exam Comments</h1>

<table>
  <thead>
    <tr>
      <th>Context</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exam_comments.each do |exam_comment| %>
      <tr>
        <td><%= exam_comment.context %></td>
        <td><%= link_to 'Show', exam_comment %></td>
        <td><%= link_to 'Edit', edit_exam_comment_path(exam_comment) %></td>
        <td><%= link_to 'Destroy', exam_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exam Comment', new_exam_comment_path %>
