<div class="col-md-10">
  <h3>よく使われる用語</h3>
</div>
  <%=form_for @universityWords do |f| %>
  <div class="col-md-6 adBox">
    <table class="table">
      <tr>
        <th scope="row">1位</th>
        <td><%= f.text_field :rank1 ,class:"form-control"%></td>
      </tr>
      <tr>
        <th scope="row">2位</th>
        <td><%= f.text_field :rank2 ,class:"form-control"%></td>
      </tr>
      <tr>
        <th scope="row">3位</th>
        <td><%= f.text_field :rank3 ,class:"form-control"%></td>
      </tr>
    </table>
    <%= f.submit "送信" ,class: "btn" %>
  </div>
  <% end %>
