<h3>大学生の用語集</h3>
<div class="col-md-5 adBox">
  <h4>よく使われる用語</h4>
  <% @universityWords.each do |obj| %>
    <table class="table">
      <tr>
        <th scope="row">1位</th>
        <td><%= obj.rank1 %><span class="button"><%= link_to '削除',university_word_path(obj.id),method: :delete%></span>
        <span class="button"><%= link_to '編集',edit_university_word_path(obj.id)%></td>
      </tr>
      <tr>
        <th scope="row">2位</th>
        <td><%= obj.rank2 %></td>
      </tr>
      <tr>
        <th scope="row">3位</th>
        <td><%= obj.rank3 %></td>
      </tr>
    </table>
  <%end%>
  <%= link_to '新規作成',new_university_word_path%>
</div>
<div class="col-md-6 adBox">
  <h4>用語説明</h4>
  <% @introduceUniversityWords.each do |obj| %>
    <table class="table">
      <tr>
        <th class="col-md-3" scope="row">用語名</th>
        <td class="col-md-9"><%= obj.title %><span class="button"><%= link_to '削除',introduce_university_word_path(obj.id),method: :delete%></span>
        <span class="button"><%= link_to '編集',edit_introduce_university_word_path(obj.id)%></td>
      </tr>
      <tr>
        <th scope="row">意味</th>
        <td><%= obj.meaning %></td>
      </tr>
      <tr>
        <th scope="row" >例文</th>
        <td><%= obj.example%></td>
      </tr>
    </table>
  <%end%>
  <%= link_to '新規作成',new_introduce_university_word_path%>
</div>
