<p id="notice"><%= notice %></p>

<p>
  <strong>Life photo1:</strong>
  <%= @life_page.life_photo1 %>
</p>

<p>
  <strong>Life photo2:</strong>
  <%= @life_page.life_photo2 %>
</p>

<p>
  <strong>Life photo3:</strong>
  <%= @life_page.life_photo3 %>
</p>

<p>
  <strong>Life photo4:</strong>
  <%= @life_page.life_photo4 %>
</p>

<%= link_to 'Edit', edit_life_page_path(@life_page) %> |
<%= link_to 'Back', life_pages_path %>
