<!DOCTYPE html>
<html>
  <head>
    <title>管理ページ</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="adminheader">
      <div id="admintitle">管理ページ</div>
      <div id="adminbar"></div>
    </div>
    <div id="adminpage">
      <div id="adminMenu">
        <div class="blank"></div>
        <div class="title">先輩からのアドバイス</div>
        <div><%=link_to '資格・就活',capacities_path%></div>
        <div><%=link_to '第二言語',languages_path%></div>
        <div><%=link_to '大学生の用語集',university_words_path%></div>
        <div><%=link_to 'テスト',exams_path%></div>
        <div><%=link_to '新歓期の過ごし方',campus_ranks_path%></div>
        <div><%=link_to '恋愛事情',loves_path%></div>
        <div class="title">スナップ</div>
        <div><%=link_to 'Men',men_snaps_path%></div>
        <div><%=link_to 'Women',women_snaps_path%></div>
        <div class="title">ランキング</div>
        <div><%=link_to 'サークル・クラブ',circle_ranks_path%></div>
        <div><%=link_to 'バイト',job_ranks_path%></div>
        <div><%=link_to 'ファッション',fashion_ranks_path%></div>
        <div><%=link_to '学校',school_ranks_path%></div>
        <div><%=link_to '旅行',trip_ranks_path%></div>
        <div><span><%=link_to 'MAP',map_urls_path%></span></div>
        <div><span><%=link_to '新歓企画',ori_pages_url%></span></div>
      </div>
      <div id="adminMain">
        <div id="adminBox">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
